<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Content</a>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="column">
        <p>AA</p>
      </div>
      <div class="column">
        <p>AB</p>
      </div>
      <div class="column">
        <p>AC</p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p>BA</p>
      </div>
      <div class="column">
        <p>BB</p>
      </div>
      <div class="column">
        <p>BC</p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p>CA</p>
      </div>
      <div class="column">
        <p>CB</p>
      </div>
      <div class="column">
        <p>CC</p>
      </div>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
